@charset "UTF-8";

/* Google Font: Raleway */
@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Lato);

/* ----------------- resetting the styles, mostly for fonts ------------------- */



html{color:#FFFFFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}body {font:13px/1.231 Tahoma, Arial, helvetica,clean,sans-serif;*font-size:small;*font:x-small;}table {font-size:inherit;font:100%;}pre,code,kbd,samp,tt{font-family:monospace;*font-size:108%;line-height:100%;}

.margin, .margin-left { margin-left: 15px; }
.margin, .margin-right { margin-right:15px; }
.margin, .margin-top { margin-top: 15px; }
.margin, .margin-bottom { margin-bottom:15px; }

.margin-smaller, .margin-left-small { margin-left: 5px; }
.margin-smaller, .margin-right-small { margin-right:5px; }
.margin-smaller, .margin-top-small { margin-top: 5px; }
.margin-smaller, .margin-bottom-small { margin-bottom:5px; }

.margin-smaller, .margin-left-smaller { margin-left: 10px; }
.margin-smaller, .margin-right-smaller { margin-right:10px; }
.margin-smaller, .margin-top-smaller { margin-top: 10px; }
.margin-smaller, .margin-bottom-smaller { margin-bottom:10px; }

.margin-larger, .margin-left-larger { margin-left: 30px; }
.margin-larger, .margin-right-larger { margin-right:30px; }
.margin-larger, .margin-top-larger { margin-top: 30px; }
.margin-larger, .margin-bottom-larger { margin-bottom:30px; }

em { font-style:italic; }

.bordered { border: 1px solid  #00578F; }

.text-large { font-size: 18px; }



/*========================== MAIN =================== */
html,body{
  min-height: 100%;
}

body {
  min-height: 100%;
}

body {
	font-family: Raleway, Tahoma, Geneva, sans-serif;
	font-size:16px;
	text-align: justify;
	color: #000;
	margin-top: 0px;
	padding-top: 0px;
	background:#BBBBBB url(../images/background.jpg) repeat-y top center;
    background-color: trasparent;
}


.wrapper0 {
	width: 990px;
	height: auto;
	margin:auto;
	min-height: 100%;
}

.wrapper{
	width: 990px;
	min-height: 100%;
	float: left;
}

.block {
	float: left;
	display:block;
	width: 100%;
}

.whiteBlock {
	display: block;
	float: left;
	width: 921px;
	margin-left: 34px;


}



/*========================== GENERAL FORMATTING =================== */
strong { font-weight: bold; }

h2 { font-size: 22px; margin-bottom: 10px; display: block; }
h3 { font-size: 16px; margin-bottom: 0px; display: block; font-weight: bold;}

/*========================== TITLE =================== #D5D5D5*/

.blueLeft {
	border-left: 5px solid #00578F;
}

.title {
	width: 886px;

}

.titleContent {
	border-bottom: 2px solid #00578F;
	padding-top: 13px;
	padding-bottom: 2px;
}

.title h1 {
	float: left;
	margin-left: 149px;
	font-family: Raleway, Georgia, "Times New Roman", Times, serif;
	font-size: 30px;
}

.title img {
	float: right;
	margin-left: 3px;
	margin-top: 5px;
}
/*========================== Coming Soon ====================== */
.ComingSoon {
	margin-top: 200px;
	margin-left: 200px;
	margin-right: 100px;
}


/*========================== NAVIGATION LEFT =================== */

.navigation {
	width: 120px;
	padding-left: 1px;
	padding-bottom: 60px;
}

.mainMenu ul {
	list-style:none;
}

.mainMenu li {
	width: 130px;
	float: left;
	background: #F35100;
	font-size:15px;
    font-weight: bold;
    text-align: left;
	margin-top: 1px;
}

.mainMenu li a {
	padding: 5px;
	width: 120px;
	float: left;
	display: block;
	color: #FFFFFF;
	text-decoration:none;
}

.mainMenu li a:hover {
	padding-left: 10px;
	padding-right: 0px;
}


.mainMenu li.selected {
	background: #FF9C00;
	font-style:italic;
    color: #000000;
}

.mainMenu li .subMenu li {
	background: #F8F8F8;

}

.mainMenu li .subMenu li a {
	font-size: 11px;
	font-style:normal;
	color: #000;
}




/*========================== CONTENT =================== */

.content {
	float: right;
	width: 735px;
	margin-right: 30px;
	padding-top: 15px;
	padding-bottom: 35px;
}

.content_image {
	float: right;
	width: 735px;
	margin-right: 30px;
	padding-top: 15px;
	padding-bottom: 35px;
    background-image: url(../images/art/Iain_Weaver_Basins_of_Attraction_2.jpg);
    opacity: 0.1;
}

.content h1 {
	float: left;
	display:block;
	border-bottom: 2px solid #D5D5D5;
	padding-top: 13px;
	padding-bottom: 2px;
	margin-bottom: 15px;
	width: 100%;
	font-family: Raleway, Georgia, "Times New Roman", Times, serif;
	font-size: 30px;
}
.content ul { margin-left: 20px;}
.content a { color: #00578F; font-weight:bold; text-decoration:underline; }

/**
 * Action button
 */
.content a.actionButton {
	background: url(../images/square_button.png) no-repeat top left;
	width: 370px;
    height: 120px;
	text-align: center;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	text-decoration:none;
	float:left;
	display:block;
	padding-top: 20px;


}

.content a.actionButtonSubmit {
	background: url(../images/square_button_submit.png) no-repeat top left;
	width: 200px;
    height: 30px;
	text-align: center;
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	text-decoration:none;
	display:block;
	padding-top: 4px;
    float:left;
    position:relative;
    left:30%;
}

.actionButton .text-large {
	font-size: 30px;
}

/**
 * Keynotes
 */
.keynote {
	display: block; float: left;
	width: 733px;
	border-right: 2px solid #00578F;
}

/*
.keynote.odd {
	background: #F9F9F9;
}

.keynote.even {
	background: #E6F2F4;
}

*/

.keynote h2 {
	background: #1A618D;
	padding: 10px;
	color: #FFF;
}

.keynote .image {
	float: left;
	margin-right: 20px;
	width: 150px;
}

.keynote .text {
	float: left;
	width: 545px;
}

.keynote .text-full {
	float: left;
	width: 713px;
}


/**
 * Tables
 */
table.borderer { border: 0px; border-left:1px solid #00578F; border-bottom: 1px solid #00578F; }
table.bordered td { border-top:1px solid #00578F; border-right: 1px solid #00578F; padding: 4px }
table.bordered tr.heading td { background: #007C92; color: #FFF; font-weight: strong; }

table.bordered td.noborder-top { border-top: 0px solid #FFF; }

table.calendar td { text-align: center; padding: 10px 0;}
table.calendar td.noborder-top { padding-top: 0px; padding-bottom: 15px; }
table.calendar td.noborder-bottom { padding-bottom: 0px; padding-top: 15px; }
table.calendar td.centered { padding: 0; }

table td.colRegistration { background: #FAE5D7; }
table td.colWorkshop { background: #BED7ED; }
table td.colSession { background: #DBE3F2; }
table td.colBreak { background: #E2F0DA; }
table td.colKeynote { background: #FEF2CE; }

table td.colFultonLTA .text-large a, table td.colFultonLTA .text-large, table td.colFultonLTA .colored  { font-weight: bold; color: #772120; }
table td.colFultonLTB .text-large a, table td.colFultonLTB .text-large, table td.colFultonLTB .colored { font-weight: bold;color: #1b9e77; }
table td.colFultonSem .text-large a, table td.colFultonSem .text-large, table td.colFultonSem .colored{ font-weight: bold;color: #666666; }
table td.colJubileeLT .text-large a, table td.colJubileeLT .text-large, table td.colJubileeLT .colored{ font-weight: bold;color: #d95f02; }
table td.colJubileeLT144 .text-large a, table td.colJubileeLT144 .text-large, table td.colJubileeLT144 .colored{ font-weight: bold;color: #a847c9; }

table td.colFultonLTA, table td.colFultonLTB, table td.colFultonSem , table td.colJubileeLT, table td.colJubileeLT144 ,table td.colTalk  { padding-right: 8px; padding-left: 8px; }

.author { font-style: italic; }

/*========================== GOOGLE FORM =================== */
#ss-form {
	background: #000;
}

.ss-q-title {
	clear: both;
    float: left;
    margin-right: 10px;
    width: 45%;
}

.ss-form-entry input {
	float: right;
    width: 50%;
}

.ss-secondary-text {
	clear: left;
    float: left;
    width: 45%;
}

.ss-q-long {
    float: right;
    width: 50%;
}

#navigation-table {
    float: left;
    width: 100%;
}

/*========================== TWEETER =================== */
.tweet_bg {
    background-color: #d37501;
    opacity: 1;
}

/*======================FIGURE INDEX =================== */
div.figure {
  float: right;
  width: 350px;
  border: 0;
  text-align: right;
}
div.figure p {
  text-align: right;
  font-style: italic;
  font-size: small;
  text-indent: 0;
}

/* Column for index page */
div.paragraph {
    text-align: justify;
    width: 370px;
    margin-bottom: 60px;
}

/* INDEX Keynotes added */
.announcement{
    width: 330px;
    height: 50px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid white;
    /* To make an inner border we add a shadow with the same 
     * colour than the background. We also extract the extra pixels
     * from the column width (350px) and move the box with the 
     * border size from the left to keep everything aligned*/
    box-shadow: 0 0 0 10px #DE3523;
    margin-left: 10px;
    background: #DE3523; 
    padding: 5px 10px;
    padding-bottom:15px;
    font-weight: bold;
    text-align: center;
    color: white;
    font-size: 18pt;
    /* To show it as an hyperlink */
    cursor: pointer;
}

/* CALL FOR ABSTRACTS LIST -------------------------------  */
.abstract-list ul {
    list-style-type: disc;
    vertical-align: bottom;
    }

.abstract-list ul li {
    background: url(../images/bullet.png) no-repeat 1px 2pt transparent;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 1px 20pt;
    }

.abstract-list ul li span {
    color: black;
    }

.abstract-subs {
    color: #00578F;
    font-size: 18pt;
    font-weight: bold;
}

/* Table for last part */
#abstable {width:600px; margin: 0 0 0 0 ;}
#abstable { border-left: 2px; }
#abstable td {width:250px;}
#abstable .leftcol {text-align:left; width: 50px; vertical-align: text-top; border-bottom: 3px solid #F35100;}
#abstable .rightcol {text-align:left; border-bottom: 3px solid #F35100;}


/*---------------------------------------------------------------------*/
/* ------------- STYLES FOR THE LOGIN PAGE  -------------------------- */
/*---------------------------------------------------------------------*/

#Sign-In{
	margin-top:160px;
	margin-left:350px;
	margin-right:300px;
    margin-bottom:200px;
	width : 180px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	background:#1a618d;
}

#Sign-In input{
  width:100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

#Sign-Up{
  color:white;
	margin-top:100px;
	margin-left:350px;
    margin-bottom:100px;
    width: 270px;
    padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	background:#1a618d;
}

#Sign-Up input{
  width:100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

#Sign-Up select{
  width:100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

/* FORMS VALIDATION */
.form_error {
    background: #DE3523;
    border-radius: 3px 3px 3px 3px;
    color: white;
    margin-left:8px;
    padding: 1px 6px;
    z-index: 999; /* hints stay above all other elements */
    position: absolute; /* allows proper formatting if hint is two lines */
    font-weight: bold;
}

.form_error::before {
    content: "\25C0"; /* left point triangle in escaped unicode */
    color:#DE3523;
    position: absolute;
    top:1px;
    left:-6px;
}

.login_error{
	margin-top:120px;
	margin-left:350px;
	margin-right:300px;
    margin-bottom:0px;
	width : 200px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background:#DE3523;
    color: white;
    font-weight: bold;
    text-align: center;
    position: absolute;
}

.password_error{
	margin-top:140px;
	margin-left:350px;
	margin-right:300px;
    margin-bottom:30px;
	width : 200px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	background:#DE3523;
    color: white;
    font-weight: bold;
    text-align: center;
    position: absolute;
}

/* ---------------- Registration TABS ---------------------------- */
.tabs {
  width: 650px;
  float: none;
  list-style: none;
  position: relative;
  margin: 0 0 0 10px;
  text-align: left;
  margin-bottom:200px;
}
.tabs li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tabs input[type="text"] {
  width:100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing: border-box;
}
.tabs label {
  display: block;
  padding: 19px 23px;
  border-radius: 2px 2px 0 0;
  font-size: 14px;
  font-weight: normal;
  color: white;
  text-transform: uppercase;
  background: #153549;
  cursor: pointer;
  position: relative;
  top: 4px;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tabs label:hover {
  background: #153549;
}
.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  /* height: 300px; */
  font-size: 14px;
  color: white;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #1A618D;
}
.tabs [id^="tab"]:checked + label {
  top: 0;
  padding-top: 17px;
  background: #1A618D;

}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}

p.link {
  clear: both;
  margin: 380px 0 0 15px;
}
p.link a {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #1A618D;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
p.link a:hover {
  background-color: #522764;
}

/* Abstract text area formatting */
textarea
{
    resize: none;
    width:100%;
    height: 90%;
    font-family: Lato, Raleway, "Times New Roman";
    font-size: 14pt;
}

/* Abstract Title box */
.textwrapper
{
    /* border:1px solid #999999; */
    margin:5px 5px;
    padding:3px;
    font-family: Lato, Raleway, "Times New Roman";
    font-size: 14pt;
}

/* Form formatting */
.container {
    width: 300px;
    clear: both;
}
.container input {
    width: 100%;
    clear: both;
}
.text_color input {
    color: rgba(0,0,0,0.5);
}

/* REGISTRATION INSTRUCTIONS */
.instructions{
    width: 680px;
    margin: 0 0 0 20px;
    border: 2px solid  #00578F;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.instructions-list ul {
    list-style-type: disc;
    vertical-align: top;
    }

.instructions-list ul li {
    background: url(../images/bullet.png) no-repeat 1px 2px transparent;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 5px 20pt;
    margin-bottom: 10px;
    margin-top: 10px;
    }

.instructions-list ul li span {
    /* Text of the list elements */
    /* color: black; */
    font-size: 14pt;
    }

.example{
    margin-left: 30px;
    font-family: Lato, "Times New Roman"; 
}

.successful-submission {
    width: 680px;
    margin: 0 0 0 20px;
    /* border: 2px solid  #00578F; */
    background: #0e4108; 
    padding: 10px 10px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.error-submission {
    width: 680px;
    margin: 0 0 0 20px;
    /* border: 2px solid  #00578F; */
    background: #DE3523; 
    padding: 10px 10px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.affiliation-info {
    width: 680px;
    margin: 0 0 0 20px;
    /* border: 2px solid  #00578F; */
    background: #F35100; 
    padding: 10px 10px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.payment-info {
    width: 680px;
    margin: 0 0 0 20px;
    /* border: 2px solid  #00578F; */
    background: #DE3523; 
    padding: 10px 10px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
}

/* Payment Button for non ICSS students. This link is inside the
 * main class "content", thus we call its property for <a> 
 *  */
.content a.payment-nonicss {
    width: 680px;
    margin: 0 0 0 20px;
    /* border: 2px solid  #00578F; */
    background: #DE3523; 
    padding: 10px 10px;
    margin-bottom: 30px;
	text-align: center;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
	text-decoration:none;
    display:block;
}

.content a.payment-nonicss p {
    font-size: 22px;
    display:inline;
}

/* PROGRAMME ----------------------------------------------- */

.programme {
    width: 100%;
    /* border: 2px solid  #00578F; */
    background: #00578F; 
    padding: 10px 0px;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
}


/* GRANADA INFORMATION ------------------------------------- */
.granada-list ul {
    list-style-type: disc;
    vertical-align: top;
    }

.granada-list ul li {
    background: url(../images/bullet.png) no-repeat 1px 6px transparent;
    list-style-type: none;
    margin: 0;
    padding: 0px 5px 10px 20pt;
    margin-bottom: 20px;
    margin-top: 20px;
    /* Overflow hidden so the rest of the line after the
     * text is not shown */
    overflow: hidden;
    }

.granada-list ul li span {
    /* Text of the list elements */
    /* color: black; */
    font-weight: bold;
    font-size: 16pt;
    }

/* We set this after to not mess with the format of the text */
/* For a line after the text. Background gives the line color.
 * Inline block is for making the line appear after the text
 * Relative position with respect to the margins already defined
 * It does not matter the width if it is large enough, since
 * it is not going to show due to the Overflow option */
.granada-list ul li span:after {
    background: black;
    display: block;
    height: 1px;
    content: " ";
    width: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

/* Make some margin for the line with left
 * The margin right is redefined so it appears after the text
 * without messing up everything */
.granada-list ul li span:after {
   right: auto;
   left: 10px;
   margin-right: -100%;
}

.granada-list ul li a {
    color:inherit;
    text-decoration: none;
}

.granada-subs {
    color: #00578F;
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* -------------------- WORKSHOPS ------------------------------*/
.image_thumb{
    margin-top: -10px;
    margin-bottom: 20px;
    
    float: left;
    width: 100%;
    height: 70px;
    overflow: hidden;
    
}
