
/*========================== MAIN =================== */

body { background: #FFF;}
.wrapper0 { width: 790px; }
.whiteBlock { width: 790px; margin-left: 0px; }


/*========================== GENERAL FORMATTING =================== */


/*========================== TITLE =================== */



/*========================== NAVIGATION LEFT =================== */
.title { width: 770px; }
.banner { display:none; }
.navigation { display:none;}
.titleContent a { display:none; }
.blueLeft { border-left: 0px; }
	
	
/*========================== CONTENT =================== */
.title h1 { margin-left: 20px; }
.content { float: left; margin-left: 20px; }

/**
 * Tables
 */
 
table { break-after: always; page-break-after: always; }

